.gallery-con-grid{
    display: grid;
    grid-template-rows:  140px 1fr 80px;
    
    width: 98%;
    height: 98%;
    border-radius: 12px;
    gap: 10px;
    
}

.gallery-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-base-clr);
    border-radius: 12px;
    
}

.gallery-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.image-list{
    justify-content: center;
    
    width: 100%;
    height: 100%;
    background-color: var(--secondary-base-clr);
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: minmax(auto, 1fr);
    gap: 20px;
    overflow-x: hidden;
    list-style: none;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.image-list li{
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    
}

.g-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--line-clr);
    border-radius: 22px;
    padding: 20px;
    transition: .2s;
    /* remove width, remove grid-area */
    
}

.g-item img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: .2s;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
    padding: 11px;
    background-color: var(--base-clr);
    width: 100%;
    border-radius: 12px;
    gap: 5px;
    
    text-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.g-item img:hover{
    transform: scale(1.02);
}
.g-item:hover{
    box-shadow: 1px 1px 15px var(--accent-clr);
}

.g-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    align-self: center;
    height: 70px;
    gap: 15px;
    text-align: center;
    font-size: 22px;
    
}
.g-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    
    width: 50px;
    height: 50px;
    transition: .2s;
    
}
.g-btn i{
    color: white ;
    
    padding: 10px;
    transition: .2s;
    border-radius: 12px;
    transition: .2s;
}
.g-btn i:hover{

    color: var(--accent-clr);
    
}
@media(max-width: 800px){
    .gallery-con-grid{
        margin-bottom: 50px;
    }
}