:root{
    --base-clr : #11121a;
    --line-clr : #42434a;
    --hover-clr : #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
    --secondary-base-clr: #2a2b3a;
    
}



*{
    padding:0;
    margin: 0;
    color: var(--text-clr);
    font-family: sans-serif;
    
}

body{
    
    min-height: 100vh; 
    min-width: 100vw;  
    background-color: var(--base-clr);
    color: var(--text-clr);
    
    
}

#root{
    min-width: 100vw;
    min-height: 100vh;
}

.all{
    display: grid;
    grid-template-columns:  1fr 250px ;
    transition: .2s;
    max-height: 100vh;
    height: 100%;
    
    overflow: hidden;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 250px;
    height: 100vh;
    
    background-color: var(--base-clr);
    border-left: 1px solid var(--line-clr);
    position: sticky;
    top:0;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap ;
    
}


#sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    /* gap:10px; */
    list-style: none;
    
    width: 90%;
    
    overflow: hidden;
    
}


#sidebar ul li{
    font-size: 1.1em;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid var(--hover-clr) ;
    width: 99%;
    
    margin-bottom: 20px;
    gap: 14px;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    height: 50px;
    
}
#sidebar > ul> li:first-child{
    font-size: 1.3em;
    border: none;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 10px;
    /* padding-left: 20px; */
    transition: .2s;
    cursor: default;
    
    svg{
        transition: .2s;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transform: rotate(180deg);
    }
} 



#sidebar ul li:hover{
    background-color: var(--hover-clr);
}
#sidebar > ul> li:first-child:hover{
    background-color: var(--base-clr);
    svg{
        background-color: var(--hover-clr);
    }
}

#sidebar ul li svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}
#sidebar ul li a {
    text-decoration: none;
}


#sidebar.closed{
    
    width: 60px;
    margin: 0;
    padding: 0;
    
    
    justify-content: start;
    
    align-items: center;
    ul li{
        font-size: 0;
        
        width: 35px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        text-overflow: hidden;
        padding: 0 10px;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    ul li:first-child svg{
        display: flex;
        justify-self: end;
        align-self: center;
        text-align: center;
        font-size: 0px;
        /* padding-right: 0; */
        margin-left: 14px;
        padding: 12px;
        transform: rotate(0deg);
    
    }
    .menu-NavLink{
        margin: 0;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        gap: 0;
        width: 60px;
      
    }
    .menu-NavLink.active{
        padding: 0 28px;
        border-radius: 5px;
    }
}

.all.sidebar-closed {
    grid-template-columns: 1fr 60px;
    
    /* main expands when sidebar shrinks */
    
}

.menu-NavLink {
    display: flex;       /* So text + icon align properly */
    align-items: center;
    justify-content: end; /* vertical centering */
    width: 100%;    
    height: 100%; 
    overflow: hidden;    /* Fill the li */
    /* clickable area */
    text-decoration: none;
    gap: 10px;
}
.menu-NavLink{
    padding-right: 20px;
    transition: .2s ;
}
.menu-NavLink.active {
    background-color: var(--hover-clr);  /* example active style */
    
    
}

.active{
    background-color: var(--hover-clr);
    svg{
        fill: var(--accent-clr);
    }
}

main {
    min-height: auto;   
    padding: min(25px, 7%);
    display: flex;       
    align-items: center; 
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #161722;
    padding: 10px;
    
}


@media(max-width: 800px) {
    main{
        padding: 0px;
        
    }
    .menu-NavLink {
        
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding-right: 0;
        
    }
    .all{
        grid-template-columns: 1fr;
        
        /* padding: 15px; */
    }
    #sidebar{
        
        
        width: 100%;
        height: 60px;
        position: fixed;
        top: unset;
        bottom: 0;
        padding: 0;
        border-top: 1px solid var(--line-clr);
        border-right: none;
        
        ul li span,ul li:first-child{
            display: none;
        }
        ul{
            margin-top: 5px;
            padding: 0 20px;
            display: grid;
            grid-auto-columns:60px ;
            width: 100%;
            grid-auto-flow: column;
            justify-content: space-evenly;
            align-items: center;
            overflow-x: hidden;
            
            
        }
        ul li{
            display: flex;
            
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            
        }
        
    }
}